/* # General styles */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --gap: 1rem;
    font-size: 62.5%;
}

.purple {
    background-color: #EBDCEC;
}

.dark-purple {
    color: white;
    background-color: #7B2481 !important;
}

.orange {
    background-color: #FCEAD9;
}

.dark-orange {
    color: white;
    background-color: #E97200 !important;
}

.blue {
    background-color: #E0E8F5;
}

.dark-blue {
    color: white;
    background-color: #0070CD !important;
}

.green {
    background-color: #D8EEE5;
}

.dark-green {
    color: white;
    background-color: #00945D !important;
}


/* # Page grid */
#page-grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 30rem 1fr;
}


/* # Nav bar */
#nav {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    background-color: #1a1a1a;
}

#nav>span {
    font-size: 2rem;
    color: white;
}

#nav>span>a {
    color: white;
    text-decoration: none;
    transition: all 0.15s;
}

#nav>span>a:hover {
    opacity: 0.8;
}


/* # Viewer */
#viewer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F1F1F1;
}

.description-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-template-rows: 1fr;
    margin: 2.5rem;
    width: 100%;
    max-width: 50rem;
    height: 20rem;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
}

.description-container>div:first-child {
    grid-area: 1 / 1 / 2 / 2;
}

.color-bar {
    background-color: grey;
}

.text-contents {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
    padding: 1rem;
}

.text-contents h2 {
    margin: 0 0 1.2rem 0;
    font-weight: 400;
    font-size: 2.2rem;
}

.text-contents span {
    font-size: 1.6rem;
    color: #666666;
}

.text-contents p {
    margin: 1.2 0 0 0;
    font-size: 1.4rem;
}

.text-contents a {
    margin-top: auto;
    padding: 0.5rem 0;
}


.description-container>div:nth-child(3) {
    grid-area: 1 / 1 / 2 / 3;
    pointer-events: none;
    background: rgba(241, 241, 241, 0);
    background: linear-gradient(90deg, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0) 50%, rgba(241, 241, 241, 1) 50%, rgba(241, 241, 241, 1) 100%);
    background-size: 200% 100%;
}

.animate {
    animation-name: wipe;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes wipe {
    from {
        background-position: 100% 0%;
    }

    to {
        background-position: 0% 0%;
    }
}

/* # Strengths container */
#strengths-container {
    padding: var(--gap);
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

#scrolling-grid {
    display: grid;
    grid-template-rows: auto 1rem auto 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    height: 100%;
}

#scrolling-grid a {
    color: black;
    text-decoration: none;
}

#scrolling-grid a:hover {
    text-decoration: underline;
}

#scrolling-grid h1 {
    margin: 0.5rem 0;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
}

#executing-strengths>div {
    background-color: #EBDCEC;
}

#influencing-strengths>div {
    background-color: #FCEAD9;
}

#relationship-strengths>div {
    background-color: #E0E8F5;
}

#strategic-strengths>div {
    background-color: #D8EEE5;
}

.grid-squares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: var(--gap);
    min-width: 32rem;
}

.grid-squares>div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid-squares>div>div {
    display: flex;
    justify-content: center;
}

.grid-squares>div>div>span {
    text-align: center;
    /* font-size: 1.3rem; */
    font-size: 0.9vw;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-squares>div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.grid-squares>div::before,
.grid-squares>div>div {
    grid-area: 1 / 1 / 2 / 2;
}

@media (max-width:1250px) {
    .margin-extra {
        margin-right: var(--gap);
    }
}

@media (max-width:1050px) {
    #page-grid {
        grid-template-rows: auto 25rem 1fr;
        height: 90vh;
    }

    #strength2 {
        display: none;
    }

    .text-contents h2 {
        margin: 0 0 1rem 0;
        font-size: 2rem;
    }

    .text-contents span {
        font-size: 1.4rem;
    }

    .text-contents p {
        margin: 1rem 0 0 0;
        font-size: 1.3rem;
    }

    #scrolling-grid h1 {
        font-size: 1.8rem;
    }

    .grid-squares {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        min-width: 25rem;
    }

    .grid-squares.even {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .grid-squares>div::before {
        padding-bottom: 50%;
    }

    .grid-squares>div>div>span {
        font-size: 1.5rem;
    }
}